/*issues
- tabs not working on small screen
- article tabs ...*/

/* 
Site References 
Material design resume template
http://themeforest.net/item/sility-vcard-cv-resume-html-template/full_screen_preview/10911929

Themeforest agency
http://themeforest.net/theme_previews/11172304-spartan-agencyportfolio-psd-template?index=6&url_name=spartan-agencyportfolio-psd-template

Template
http://bdinfosys.com/demo/?item=materialx
*/

.dark-primary-color    { background: #512DA8; }
.default-primary-color { background: #673AB7; }
.light-primary-color   { background: #D1C4E9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #009688; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

/* logo styling */
.logo-styling {
height:80px;
width:80px;
border-radius: 40px;	
margin: 10px;
}


/*sticky footer*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  /*color tabs*/
  .tabs .tab.green-color a {
      color: #388E3C;
  }

  /*tabs indicator*/
  .tabs.green-tabs .indicator {
  	background-color: #388E3C;
  }

  /*color tabs - secondary*/
  .tabs .tab.blue-color a {
      color: #448AFF;
  }

   /*tabs indicator - secondary*/
  .tabs.blue-tabs .indicator {
  	background-color: #448AFF;
  }

/*tabs margin*/
.margin-top {
margin-top: 20px;
}

/*blue font for links on cards*/
.card .card-action.blue-font a {
	color: #448AFF;
}

/*grey font*/
.card .grey-font p {
	color: #727272;
}

/*article card styling*/
@media only screen and (max-width : 600px) {
  .bio-image-container {
    max-height: 285px;
    overflow: hidden;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
  }
  .bio-image {
    width: 100%;
  }
}

@media only screen and (min-width : 601px) {
  .bio-image-container {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
/*    min-height: 285px;*/
    max-height: 500px;
    height: 100%;
    float: left;
  }
  
  .bio-content{
    margin-right: 290px;
    min-height: 260px;
  }
  .bio-card{
/*    position: relative;*/
    overflow: hidden;
  }
}

.link-right{
  text-align: right;
  color: #448AFF;
}











